<%= link_to team_path(team) do %>
  <section class="team-digest-item grid-item grid-item-big">
  	<aside class="sport-icon"><i class="fa fa-futbol-o fa-5x"></i></aside>
  	<span class="team-name-sport">	
    	<span class='team-name'><h1><%= team.name %></h1></span>
    	<span class='team-sport'><h3><%= team.sport %></h3></span>
		</span>
		<span class='team-digest'>
	    <div class='upcoming-games'>
	    	<i class="fa fa-calendar fa-fw"></i> <%= team.games.upcoming.count %> upcoming games
	    </div>
	    <div class='roster-size'>
	    	<i class="fa fa-user fa-fw"></i> <%= team.player_count %> players
	    </div>
		</span>
  </section>
<% end %>

