<div class="list-group col-md-4">
  <a href="#" class="list-group-item active">
    Games
  </a>
  <a href="#" class="list-group-item">Roster</a>
  <a href="#" class="list-group-item">Team Settings</a>
</div>

<div class="cold-md-8">
	<h3>Active Members</h3>
	<% @team.memberships.each do |membership| %>
		<div><%= membership.player.name %> - <%= membership.player.email %> - $<%= membership.amount_owed %></div>
	<% end %>

	<h3>Invited Members</h3>
	<% @team.invites.each do |invite| %>
		<div><%= invite.email %></div>
	<% end %>

	<div>
		<%= render partial: 'memberships/new', locals: { team: @team } %>
	</div>
</div>