<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<section>
	<h2>Games</h2>
	<span>
		<% @team.games.each do |game| %>
			<div><%= game.time %></div>
		<% end %>
		<%= render partial: 'games/new', locals: { team: @team } %>
	</span>
</section>

<section>
	<h2>Team Members</h2>
	<h3>Active</h3>
	<% @team.memberships.each do |membership| %>
		<div><%= membership.player.name %> - <%= membership.player.email %> - $<%= membership.amount_owed %></div>
	<% end %>

	<h3>Invited</h3>
	<% @team.invites.each do |invite| %>
		<div><%= invite.email %></div>
	<% end %>

	<span>
		<%= render partial: 'memberships/new', locals: { team: @team } %>
	</span>
</section>