<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Team Genie", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="navbar-brand">Welcome, <%= current_user.name %></li>
          <li><%= link_to "New Team", new_team_path, class: "page-scroll" %></li>
          <li><%= link_to "My Account", edit_user_path(current_user), class: "page-scroll" %></li>
          <li><%= link_to "Log out", auth_path(current_user), method: 'delete', class: "page-scroll" %></li>
        <% else %>
          <li><%= link_to "Log in", new_auth_path, class: "page-scroll active" %></li>
          <li><%= link_to "Sign up", new_user_path, class: "page-scroll" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
