<!DOCTYPE html>
<html>
<head>
  <title>TeamGenie</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Poppins:400,600,700,500,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,400italic,500,500italic,300,100italic,100,300italic' rel='stylesheet' type='text/css'>
</head>
<body ng-app="ngTeamGenie" ng-view>
	<%= render partial: 'shared/header' %>
	<div class='container'>
		<%= yield %>
	</div>
</body>
</html>
