<!DOCTYPE html>
<html>
<head>
  <title>TeamGenie</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ngTeamGenie" ng-view>
	<%= render partial: 'shared/header' %>
	<%= yield %>
	<%= render partial: 'shared/footer' %>
</body>
</html>
